*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
.App{
  height:100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
  
  background:rgba(200,200,0,0.3);
}

#quote-box{
  padding:60px;
  background-color: rgba(200,0,0,0.4);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#text{
  font-weight:600;
}
#new-quote{
  padding:10px;

}
.btns{
  padding:10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}