*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
.App{
  height:100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;

  background:rgba(200,200,0,0.3);
  transition: 3s;
}
.color1{
  background:rgb(127, 185, 182);
}
.color2{
  background:rgb(178, 127, 185);
}
.color3{
  background:rgb(56, 22, 150);
}
.color4{
  background:rgb(255, 245, 100);
}
.color5{
  background:rgb(20, 80, 160);
}
#quote-box{
  padding:60px;
  background-color: rgba(200,0,0,0.4);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 3s;
}
#author{
  font-size:35px;
  width:100%;
  padding-right:20px;
  text-align: right;
}
#text{
  font-weight:600;
  font-size:50px;
}
#new-quote{
  padding:10px;

}
button{
  margin:25px;
  font-size:30px;
}